
.playlist-container{
    margin: 5px 5px;
    padding: 18px 10px;
    width: 100%;
    height:fit-content;
    background-color: #1d3557;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

button{
    margin: 10px 0;
    width: 100px;
    height: 40px;
    font-weight: 700;
    font-size: medium;
}

.playlist-text {
    margin: 0 15px;
    /* background-color: #1d3557; */
}
